<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MeshApp AI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>1pEdB0_DqXDA60OzpcMFbOsogVa5_8dDYx5pp</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>App needs Photo Library to update profile image</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>App wants to access your documents folder</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>App wants to access your downloads folder</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to provide you with personalized services and improve your experience.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to provide you with personalized services and improve your experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>we need location permission to provide better search results of near by  MR's.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>we needs microphone usage to smooth video call</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App needs Photo Library to update profile image</string>
	<key>NSDocumentsLibraryUsageDescription</key>
	<string>We need access to your documents to allow file uploads.</string>
	<key>NSMediaLibraryUsageDescription</key>
	<string>We need access to your media library to select and upload files.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Onest-Black.ttf</string>
		<string>Onest-Bold.ttf</string>
		<string>Onest-ExtraBold.ttf</string>
		<string>Onest-ExtraLight.ttf</string>
		<string>Onest-Light.ttf</string>
		<string>Onest-Medium.ttf</string>
		<string>Onest-Regular.ttf</string>
		<string>Onest-SemiBold.ttf</string>
		<string>Onest-Thin.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
